body{
	font-size: 105%;
	background-color: rgb(16,16,16);
	color: orangered;
}
.row{
	text-align: center;
}
b
.video-grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
}
.main-container{
    display: grid;
    grid-template-columns: 60% 20%;
}

#username,#msg{
	padding: 5px;
}

video{
	margin: 25px;
    border-radius: 35%;
	border: 10px;
	border-color: white;
    background-color:aliceblue;
}


button{
	margin: 10px;
	padding: 10px;
	color: orangered;
	border-width: 5px;
	border-color: white;
	background-color: black;
	border-radius: 40%;
}
button:hover{
	font-size: 95%;
}